<!DOCTYPE html>
<html ng-app="webdailyplanner">
    <head>
        <title>Web Daily Planner</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
        <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-route.js"></script>
        <script src = "./js/app.js"></script>
        <script src = "./js/controller/usuario.js"></script>
        <script src = "./js/controller/calendario.js"></script>
        <script src = "./js/controller/evento.js"></script>
    </head>
    <body>
        <div>
            <a href="#/usuarios">Usuarios</a>
            <div ng-view="view"></div>
        </div>
    </body>
</html>
