<div ng-controller="usuarioController">  
    <h3>Login</h3>
    <form novalidate>
        ID: <input type="text" id="txtNomeLogin" value="" ng-model="usuarioLogin.id" required/> <br/>
        Senha: <input type="text" id="txtSenhaLogin" value="" ng-model="usuarioLogin.senha" required/> <br/>
        <input type="button" value="Login" ng-click="verificaUsuario()"/>
    </form>
    <br/>
    <h3>Cadastrar Usuario</h3>
    <form novalidate>
        Nome: <input type="text" id="txtNome" value="" ng-model="usuarioCad.nome" required/> <br/>
        Senha: <input type="text" id="txtSenha" value="" ng-model="usuarioCad.senha" required/> <br/>
        <input type="button" value="Cadastrar" ng-click="cadastraNovoUsuario()"/>
    </form>
</div>